/*-----Base Style-----*/

* {
	box-sizing: border-box;
}

.main-header,
.invitation,
.offer,
.footer {
	text-align: center;
}

.main-header {
  background: black;
  font-family: 'Merriweather', serif;
  color: white;
  margin-top: 0;
  padding: 1.5em 0.8em;
  font-size: 23px;
  text-transform: uppercase;
}

.invitation {
	font-weight: bold;
	padding-top: 30px;
	font-family: 'Merriweather', serif;
	font-size: 23px;
}

.offer {
	color: grey;
	margin: 14px 10px 0;
	padding-bottom: 30px;
	margin-bottom: 3px;
	border-bottom: solid black 3px;
}

.header {
	font-weight: bold;
	font-family: 'Merriweather', serif;
	font-size: 23px;
	margin-top: 10px;
	padding: 25px 0;
	width: 100%;
	border-top: solid black 1px;
}

/*-----Form Fields-----*/

.part-1 {
	display: flex;
}

.part-1 label {
	display: inline-block;
	margin: 1.2em 0 0.8em;
	color: grey;
}

.part-1 input:not(#zip-code) {
	background: #f5f5ef;
	height: 2.5em;
	width: 100%;
	border-radius: 3px;
	border: none;
}

#zip-code {
	background: #f5f5ef;
	height: 2.5em;
	width: 40%;
	border-radius: 3px;
	border: solid 1px #f5f5ef;
}

.part-1 input:focus {
	background-color: #ff9999;
	border-color: blue;
}

#state {
	background: #f5f5ef;
	height: 2.5em;
	width: 100%;
	border-radius: 3px;
	border: none;
}

[placeholder] {
	padding-left: 10px;
}

.part-2 label {
	display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 8px 0;
}

.select,
.format,
.other {
	padding: 20px 0;
}

textarea {
	width: 100%;
	height: 6em;
	background: #f5f5ef;
	border: none;
	border-radius: 5px;
}

button[type="submit"] {
	background: #4da6ff;
	height: 3.5em;
	width: 90%;
	border-radius: 3px;
	border: none;
	margin-left: 15px;
	margin-right: 10px;
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 1.2em;
}

button:hover {
	background: #ff0000;
}

.footer p {
	font-style: italic;
	color: grey;
	font-size: 1em;
	margin: 35px 0 15px;
}

/* clearfix */

.clearfix::after {
   content: "";
   display: table;
   clear: both;
  }

/*-----Media Queries-----*/

@media (min-width: 768px) {

	.form-row {
		display: flex;
		flex-direction: row;
	}

	#zip-code {
		width: 20%;
	}

	.part-1 input:not(#zip-code),
	#state {
		width: 75%;
	}

	.form-row > label {
		width: 25%;
	}


}
